body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 600;
    text-align: center;
    margin: calc(50vh - 50px) auto 0;
    color: #81c1cc;
    height: 50px;
    line-height: 50px;
}