<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="description" content="Webpack template">
    <title>Webpack template</title>
</head>
<body>
    {{!-- Import hbs file  --}}
    {{!-- See  https://handlebarsjs.com/guide/ for more information--}}
    {{> test/test }}
</body>
</html>